@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import "tailwindcss";

:root {
    --primary-color: #008ECC;
    --secondry-color: #008fcc78;
    --text-color: #666666;
    --heading-color: #222222;
    --light-color: #888888;
    --border-color: #EDEDED;
    --bg1-color: #F5F5F5;
    --bg2-color: #F6F6FC;
    --bg3-color: #F3F9FB;
    --yellow-color: #E3BC01;
    --white-color: #FFFFFF;
    --line-color: #D9D9D9;
    --font-base: "ABeeZee", sans-serif;
}

* {
    font-family: var(--font-base);
}

@layer components {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

.swiper-pagination-bullet {
  @apply w-2 h-2 bg-gray-500 opacity-70  rounded-full transition-all;
}

.swiper-pagination-bullet-active {
  @apply bg-[var(--white-color)] w-3 opacity-100 scale-110;
}

.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
hr{
  border: 1px solid var(--border-color);
}